{
    "debug/acoustic_test/enabled": 0,
    "general/device_name": "Name_of_machine",
    "general/application_scope": "Makeraccess",
    "general/division": "Clever-Together",
    "general/organization": "HTL-Hollabrunn",
    "general/web": "https://clever-together.techfit.at",
    "general/mode": 0,
    "general/standalone": 0,
    "general/mode": "control",
    "general/reboot/enabled": 1,
    "general/reboot/hour": 4,
    "general/watchdog/seconds": 60,

    "hardware/version": "0.0.0",

    "remote-update/protocol": "http",
    "remote-update/hostname": "update.accesscontrol.techfit.at",
    "remote-update/port": 5600,
    "remote-update/wifi/use_only_this_connection": 0,
    "remote-update/wifi/use_this_connection_first": 1,
    "remote-update/wifi/max_number_of_attempts": 3,
    "remote-update/wifi/ssid": "Accesscontrol_Setup",
    "remote-update/wifi/password": "accesscontrol_setup",

    "mqtt/server": "techfit.at",
    "mqtt/topic_root": "",
    "mqtt/port": 8883,
    "mqtt/ssl": 1,
    "mqtt/user": "makeraccess_device",
    "mqtt/password": "makeraccess_YYPz2T",

    "off-alarm/sequence": [{"start": 60, "interval": 5, "timing": [2, 50, 100], "colors": "[RED_FULL, TRANSPARENT]"},
                           {"start": 40, "interval": 1, "timing": [3, 50, 100], "colors": "[RED_FULL, RED_LOW]"},
                           {"start": 25, "interval": 1, "timing": [2, 200, 200], "colors": "[RED_FULL, RED]"},
                           {"start": 10, "interval": 1, "timing": [1, 500, 0], "colors": "[RED_FULL, RED_FULL]"}],

    "access/takeover/enabled": 1,
    "access/extend/enabled": 1,
    "access/force-off/enabled": 1,
    "access/force-off/rfid_with_prev_access_only": 0,

    "current/force_off/enabled": 0,
    "current/force-off/lower_current_level_amps": 0.2,
    "current/force-off/upper_current_level_amps": 0.4,
    "current/force-off/trigger_time_sec": 60,
    "current/force-off/alarm_time_sec": 120,

    "display/enabled": 1,
    "display/brightness": 5,
    "display/scroll-speed": 0.3,
    "display/text_boot": "Boot",
    "display/text_deny": "Deny",
    "display/background-show-time-seconds": 10,
    "display/background-sequence/control-mode": [[0, "{device_name}"],[1,"use "],[1, "rfid"],[1, "chip"],],
    "display/background-sequence/off-mode": [[0, "{device_name}"],[1,"out of order"],],
    "display/background-sequence/on-mode": [[0, "{device_name}"],[4, " on "],],

    "night-mode/enabled": 1,
    "night-mode/start_time": "22:00:00",
    "night-mode/end_time": "06:00:00",
    "night-mode/display/brightness": 0,
    "night-mode/indicator/wifi": 0,
    "night-mode/indicator/server": 0,
    "night-mode/sound": 0,
    "night-mode/escape_mode_at_chip": 1,

    "indicator/wifi": 1,
    "indicator/server": 1,

    "rgb-color/booting": [250,5,0],
    "rgb-color/ready": [0,5,0],
    "rgb-color/relay_on": [0,50,0],
    "rgb-color/relay_off": [200,0,0],
    "rgb-color/wait_reply": [0,0,50],
}
